*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
}
:root{
  --orange-color:#FBA61A;
  --white-color:#ffffff;
}
/* *::-webkit-scrollbar{
  width: 10px;
}
*::-webkit-scrollbar-track{
  background-color: #fff;
}
*::-webkit-scrollbar-thumb{
  background-color: #a19494;
  border-radius: 20px;
} */
/* *::-webkit-scrollbar {
  width: 20px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
}

*::-webkit-scrollbar-thumb {
    background-image: url('https://i.ibb.co/1RHr40z/248599.png'); 
    background-repeat: no-repeat, no-repeat;
    background-size: 20px;
} */

body{
  width: 100%;
  height: 100vh;
  display: flex;
}

/* Back Button */
.container a {
  font-size: 25px;
}
.back-button {
  position: absolute;
  top: 20px;
  left: 20px;
  color: var(--orange-color);
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.back-button box-icon {
  margin-right: 10px;
  margin-bottom: 5px;
  color: var(--orange-color);
}
/* End Back Button */


/* Cards */
.wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  /* padding-top: 2rem; */
}
.wrapper h1{
  padding: 20px;
  font-size: 50px;
  text-transform: capitalize;
}
.card{
  display: flex;
  align-items: flex-start;
  padding: 1%;
  margin-bottom: 40px;
  margin: 0 1%;
  background-color: var(--white-color);
  gap: 1.5rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  cursor: pointer;
  /* flex-wrap: wrap; */
  /* flex-direction: row; */  
  /* transition: .5s ease; */
}
/* End Cards */


/* Left Part Of The Card */
.card-left{
  width: 25%;
  min-width: 50px;
  display: flex;
  justify-content: center;
  border: 20%;
}
.card-left img{
  width: 100%;
  height: auto;
  padding: 1rem;
  border-radius: 40px;
}
/* End Left Part Of The Card */


/* Right Side of the card */
.card-center{
  justify-content: center; 
  width: 75%;
  cursor: text;
  /* padding: 20px; */ 
}
.card-center h3{
  font-size: 60px;
  cursor: text;
}
.card-center .card-detail {
  color: #0b0a0a;
  font-size: 20px;
  /* width: 1500px; */
}
.card-loc{
  font-size: 17px;
  color: var(--darkGreyColor);
  /* color: #0b0a0a; */  
}
.card-loc span{
  font-weight: 700;
  font-size: 18px;
}
.donrsuport{
  text-align: right;
}
.donrsupport{
  text-align: left;
}
.butn{
  padding: 10px;
  background-color: white;
  border: 2px dotted var(--orange-color);
  transition: .5s ease;
  cursor: pointer;
}
.butn:hover{
  background-color: #fff2de;
}
.card-url{
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #000;
}
.butn .card-url{
  color: var(--orange-color);
  text-decoration: none;
}